<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body{
            background-color: rgb(67, 228, 234);
        }
    </style>

    <h1>Welcome to gitPub</h1>
    <h4>
        <ul>
            <li>Hey hope this is working.</li>
            <% for(let i=0; i < allDrinks.length; i++) { %>
                <li><a href="/drinks/<%=i%>">
                        <%= allDrinks[i].name %>
                    </a></li>
                <% } %>
            <li><%= allDrinks.name %></li>
            <a href="/">back to the welcome page</a>
        </ul>
    </h4>

</body>
</html>
