<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Food At foo bar </title>
</head>

<body>
    <h1>food show page</h1>
    <h2>the entree is <%=allFood.name%> <br></h2>
    <h3>the price is <%=allFood.price%> <br></h3>
    the example <img src="<%=allFood.image%>" alt='food'>
    <br>
    <br>
    


    <a href="/food">back to the food page</a>
</body>

</html>