<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show drinks At foo bar </title>
</head>
<body>
  <h1>drinks show page</h1>
  <h2>the drink is <%=allDrinks.name%> <br></h2>
  <h3>the price is <%=allDrinks.price%> <br></h3>
  the example <img src="<%=allDrinks.image%>" alt="<%=allDrinks.name%>">


<a href="/drinks">back to the drinks page</a>
</body>
</html>