<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show drinks</title>
</head>
<body>
  <h1>drinks show page</h1>
  the drink is <%=allDrinks.name%> <br>
  the price is <%=allDrinks.price%> <br>
  the example <img src="<%=alldrinks.img%>">
</body>
</html>